#div-1 {
	background-color: green;
	display: inline;


#span-1 {
	background-color: purple;
	display: none;
	width: 200px;
	height: 200px;
}

*

.button
	color: white;
	/*changes the thickness of text*/
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	/*rounds the corners of the border to the specified measurement*/
	border-radius: 25px;
	padding: 1rem;
}


/* CSS Background Properties */
.background {
	min-height: 100vh;
	/*background-color: gray;*/
background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;

}
.border-box{

}

.padding{

}



footer {
	padding:0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


